form {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 65%;
  height: 200px;
  align-items: flex-end;
  justify-content: space-evenly;
}

button {
  width: 100px;
  margin: auto;
}

.errorWrap {
  /* background-color: red; */
  width: 35%;
  height: 200px;
}

#wrap {
  display: flex;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0px;
}
